<!-- OctoSystemTerminal -->
<div id="OctoSystemTerminal_wrapper">
<pre id="OctoSystemTerminal-output" class="pre-scrollable pre-output">

</pre>
<input type="text" id="OctoSystemTerminal-command" autocomplete="off">
<a class="btn add-on" id="OctoSystemTerminal-send" onclick="OctoSystemTerminal_sendMessage()">º¸³»±â</a>
<script type="text/javascript">
var webSocket = new WebSocket("ws://localhost:9998");
var messageTextArea = document.getElementById("OctoSystemTerminal-output");
webSocket.onopen = function(message){      
messageTextArea.value += "Server connect...\n";    
};
webSocket.onclose = function(message){      
messageTextArea.value += "Server Disconnect...\n";    
}; 
webSocket.onerror = function(message){
messageTextArea.value += "error...\n";    
};  
webSocket.onmessage = function(message){      
messageTextArea.value += "Recieve From Server => "+message.data+"\n";   
};
function sendMessage(){ 
var message = document.getElementById("OctoSystemTerminal-command");   
messageTextArea.value += '<span data-bind="text: line + \'\n\', css: {muted: display == \'filtered\' || display == \'cut\', \'text-error\': type == \'warn\'}">Send to Server => '+message.value+'</span>';      
webSocket.send(message.value);    
message.value = "";    
}    
function disconnect(){ 
webSocket.close();
}  
</script>

</div>